<app-navbar></app-navbar>
<section class="page-header">
    <div class="overly"></div>
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-6">
             <div class="content text-center">
                <h1 class="mb-3">Checkout</h1>
             </div>
          </div>
       </div>
    </div>
   </section>
 

 <div class="page-wrapper" >
   <div class="checkout shopping">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-8 pr-5">
               <div class="billing-details mt-5">
                  <h4 class="mb-4">Billing Details</h4>
                  <form class="checkout-form">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">User Name</label>
                              <input type="text" class="form-control" id="first_name" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Phone </label>
                              <input type="text" class="form-control" id="phone" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Email address </label>
                              <input type="text" class="form-control" id="email" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Apartment, suite, unit etc. (optional) (optional)</label>
                              <input type="text" class="form-control" id="apartment" placeholder="Apartment">
                           </div>
                        </div>
                        
                     </div>
                     </form>
                     <div class="row"></div>
                     <div class="row" style="margin-bottom: 50px;">
                        <div class="col-lg-3 col-md-3"></div>
                        <div class="col-lg-3 col-md-3">
                              <button class="btn btn-outline-success" style="width: 100px;" (click)="onclick()">Next</button>
                        </div>
                        <div class="col-lg-3 col-md-3"></div>
                     </div>
               </div>
            </div>
      
            <app-footer></app-footer>