.container1{
    background-color: #e2dfdf;
    display: flex;
}
.container1 img{
    height: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
}
.container1 .container-content {
    margin-left: 10%;
    padding-top: 3%;
    margin-right: 10%;
}
  .checkbox-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox {
    flex-basis: 100%; 
  }
  
  .checkbox input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label {
    cursor: pointer;
  }
  
  .checkbox label img {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .checkbox input[type="checkbox"]:checked + label img {
    border: 5px solid blue;
    /* border-color: #0066ff; */
  }
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        background-color: #e2dfdf;
      }
    .container1 img {
        max-width: 100%;
      height: 300px;
      margin: 20px;
    }
    
    .checkbox {
      flex-basis: 50%;
    }
    
    .checkbox label img {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .container1 .container-content {
      margin-left: 5%;
      margin-right: 5%;
    }
    
    .checkbox {
      flex-basis: 100%;
    }
  }
  