<section class="mt-4 mx-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let img of Images">
            <a routerLink="/{{img.title}}">
                <div class="card shadow-lg" data-aos="zoom-in">
                    <img [src]="img.src" [alt]="img.alt">
                    <div class="card-title">
                        <h1>{{img.title}}</h1>
                        <div class="card-body">
                            <button>{{img.btn}}</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

