    <!--navbar-->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand"  routerLinkActive="active-link">
            <img src="../../assets/images/Logo.png" alt="connection the connection" style="height: 40px; width:40px;">
            FlavourFlex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link px-3"  routerLinkActive="active-link" routerLink="/home">Logout</a>
              </li>
            </ul>  
          </div>
        </div>
      </nav><br>
    <h1 class="px-5">Today Orders</h1>
    <div class="card text-center mx-4 mt-4">
        <h5 class="card-header">
        <div class="card-body ">
            <img src="../../assets/images/black-forest-cake.jpg" alt="Image" class="mr-3" style="
            width: 120px;
            height: 120px;
            border-radius: 30px;"><div class="gap py-0.5"></div><div>
          <h5 class="card-title" style="justify-content: center center;">Black-Forest</h5>
          <p class="card-text">medium-sized filled with chocolate ganache, topped with chocolate shavings and fresh strawberries</p>
          <a class="btn btn-success btn-group px-4 m-2">Accept</a>
          <a class="btn btn-danger  btn-group px-4">Reject</a>
        </div>
    </div>
    </h5> 
   </div>
