<!-- <app-navbar></app-navbar> -->
    <!--navbar-->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand"  routerLinkActive="active-link">
            <img src="../../assets/images/Logo.png" alt="connection the connection" style="height: 40px; width:40px;">
            FlavourFlex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link px-3"  routerLinkActive="active-link" routerLink="/home">Back</a>
              </li>
            </ul>  
          </div>
        </div>
      </nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 about" data-aos="fade-down">
            <h2>Welcome to Flavour Flex</h2>
            <p data-aos="fade-down">
                Flavour Flex welcomes you! It aims to attract your taste buds and bring you joy with its variety of ice creams and sweets. We take pleasure in showcasing a fantastic culinary journey of transforming your preferences into amazing food experiences.
            </p>
            <p data-aos="fade-down">
                
                Our website offers an extensive collection of discoveries, where you can explore various flavors and types of ice creams and sweets. We prioritize traditional favorites as well as creamy delights and ensure that you can customize your orders to match your preferences. We value the importance of catering to individual priorities for taste and health, so we encourage you to personalize your choices.
            </p>
            <p>
                
                From exquisite chocolates to fresh fruit blends, we can fulfill your cravings with our exceptional and carefully crafted menu items. Our talented cooks are enthusiastic about preparing unique and delightful cuisines that align with your translation preferences. They strive to create exceptional and tailored culinary experiences.
            </p>
            <p data-aos="fade-down">
                
                At Flavour Flex, we value quality and excellence. We prioritize taste and sensory appeal, making each menu item a sweet celebration of distinctiveness and creativity.
            </p>
            <p data-aos="fade-down">
                
                Please feel free to discuss any further assistance or specific requirements. We are dedicated to preparing dishes with the finest ingredients and ensuring our chefs fulfill your orders with enthusiasm.
            </p>
            <p data-aos="fade-down">
                In conclusion, we are thrilled to welcome you to Flavor Flex, where taste, delight, and sensitivity take center stage.
            </p>
        </div>
        <div class="col-md-6">
            <div class="image" data-aos="fade-left">
                <img src="../../assets/images/Logo.png" alt="Flavour Flex Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>